:root{
    --rojo_princip:#FF3D33;
    --rojo_medio:#FFB1AD;
    --rojo_claro:#FFD8D6;
    --azul_princip:#1140CC;
    --azul_medio:#9FB2EA;
    --azul_claro:#CFD8F4;
    --verde_princip:#CCF92B;
    --verde_osc:#8EAE1E;
    --verde_mosc:#667C15;
    --naranja_princip:#F8B615;
    --naranja_medio:#FAD372;
    --naranja_claro:#FDF0D0;
    --azul_osc:#0F1E47;
    --offwhite:#FFFFEF;
    --shadow:rgba(15, 30, 71, 0.3);
    --nav_gris:#909084;
    --gris_inpt:#F2F2DA;
	--gris_inpt_brdr:#B9B9B5;
    --trama: radial-gradient(circle, var(--naranja_princip) 20%, transparent 25%);
    --tooltip_b:rgba(15, 30, 71, 0.75);
    --tooltip_w:rgba(255, 255, 255, 0.75);
}
*{
	margin: 0;
	padding: 0;
}
body, html{
    overflow: hidden;
    background-color: var(--azul_osc);
}
#cuaderno{
    position: relative;
    top:20px;
    left: 15%;
    width: 78rem;
    height: 42rem;
    padding: 2rem;
    border-radius: 55px;
    transform: rotate(-3deg);
    background-color:var(--naranja_princip);
}
#resorte{
    position: absolute;
    width: 15rem;
    height: 37rem;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#sombra{
    position: absolute;
    width: 15rem;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#pag{
    position: relative;
    height: 40rem;
    padding:1rem;
    filter: drop-shadow(-5px 4px 4px var(--shadow));
    background-image: url(/general/imagen/cuad.png);
    background-color: var(--offwhite);
}
#content{
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 1.5rem;
    transform: rotate(3deg);
}
#content_l, #content_r{
    position: relative;
    font-size: 22px;
    font-family: Circular std;
    display: flex;
    flex-direction: column;
}
h1{
    margin: 1rem 0;
    font-family: Geologica;
    font-size: 45px;
    transform: rotate(-3deg);
}
#foto{
    position: relative;
    top:5%;
    left: 17%;
    width: 15rem;
    height: 17rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul_medio);
    border-radius: 15px;
}
#foto a{
    margin-bottom: 2rem;
}
#usrImg{
    object-fit: cover;
    width: 14rem;
    height: 14rem;
    border-radius: 15px;
}

.datos{
    margin: 1rem;
}

.info_style{
    margin-left:1rem;
    padding: 1rem 1rem .2rem;
    border-bottom: 6px solid var(--rojo_princip);
}
#usrApellido{
    padding: 1rem 1rem .2rem;
    border-bottom: 6px solid var(--rojo_princip);
}
input{
	font-size: 20px;
	border-radius: 15px;
	padding: .1rem .3rem;
    margin-left:1rem;
	height: 2.5rem;
	width: 22rem;
	border: 2px solid var(--gris_inpt_brdr);
	background-color: var(--gris_inpt);
}
.btn_editar{
    position:relative;
    align-self: center;
    width: 25rem;
    margin-top: 3rem;
    font-family: Genos Bold;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    padding:1.3rem .2rem;
    border-radius: 15px;
    color: var(--azul_claro);
    background-color: var(--azul_princip);
}
.btn_editar:hover{
    color: var(--azul_princip);
    background-color: var(--azul_claro);
}

#btn_volver{
    transform: rotate(3deg);
    position: fixed;
    top: 85%;
    left: 3%;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    padding: .7rem;
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--azul_princip);
    background-image: url(/general/imagen/icon/ao.png);
}
#btn_volver:hover{
    background-color: var(--azul_claro);
    background-image: url(/general/imagen/icon/ao_hover.png);
}
#btn_logout{
    transform: rotate(3deg);
    position: fixed;
    top: 85%;
    left: 10%;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    padding: .5rem;
    border: 6px solid var(--naranja_medio);
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--naranja_princip);
    background-image: url(/general/imagen/icon/logout.png);
}
#btn_logout:hover{
    border: 6px solid var(--naranja_medio);
    background-color: var(--naranja_claro);
    background-image: url(/general/imagen/icon/logout_n.png);
}

#mini_iaev_cont{
    display: flex;
    align-items: flex-end; 
    justify-content: center;
}
#burb_img{
    position: fixed;
    bottom: 1rem;
    right: 0;
    width: 13rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#burbuja{
    visibility: hidden;
    opacity: 0;

    text-decoration: none;
    font-family: Geologica;
    color: var(--tooltip_b);
    background-color: var(--tooltip_w);
    border: 3px solid var(--tooltip_b);
    border-radius: 15px;
    position: absolute;
    bottom: 100%; 
    right: 10%;
    white-space: nowrap;
    font-size: 22px;
    padding: .2rem;
    padding-top: .7rem;

    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}
#burbuja::after{
    content: '';
    position: absolute;
    bottom: -12px;
    right: 25px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #FFFFEF transparent;
    display: block;
    width: 0;
}
#burbuja::before{
    content: '';
    position: absolute;
    bottom: -14px; 
    right: 22.5px;  
    border-width: 12px 12px 0;
    border-style: solid;
    border-color: #0f1e47 transparent;
    display: block;
    width: 0;
}

#burb_img:hover #burbuja{
    visibility: visible;
    opacity: 1;
}
#mini_iaev{
    position: fixed;
    bottom: 1rem;
    right: 0;
    width: 13rem;
    height: 13rem;
}


@font-face {
	font-family: 'Geologica';
	src: url('./../fuentes/Geologica-Black.ttf');
}
@font-face {
	font-family: 'Genos Bold';
	src: url('./../fuentes/Genos-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'ClanPro';
    src: url('./../fuentes/clanpro-4.ttf');
}
@font-face {
    font-family: 'Circular std';
    src: url('./../fuentes/circular-std-medium-500.ttf');
}