:root{
    --rojo_princip:#FF3D33;
    --rojo_medio:#FFB1AD;
    --rojo_claro:#FFD8D6;
    --azul_princip:#1140CC;
    --azul_medio:#9FB2EA;
    --azul_claro:#CFD8F4;
    --verde_princip:#CCF92B;
    --verde_osc:#8EAE1E;
    --verde_mosc:#667C15;
    --naranja_princip:#F8B615;
    --naranja_medio:#FAD372;
    --azul_osc:#0F1E47;
    --offwhite:#FFFFEF;
    --shadow:rgba(15, 30, 71, 0.3);
    --nav_gris:#909084;
    --trama: radial-gradient(circle, var(--naranja_princip) 20%, transparent 25%);
    --tooltip_b:rgba(15, 30, 71, 0.75);
    --tooltip_w:rgba(255, 255, 255, 0.75);
}
*{
	margin: 0;
	padding: 0;
}
body{
    font-family: Geologica;
    background-color: var(--offwhite);
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: linear-gradient(180deg, rgba(255, 255, 239, 1) 0%, rgba(255, 255, 221, 1) 77%, rgba(255, 255, 182, 1) 100%);
}

/*section*/

#dentro{
    margin: 3rem;
}
#titulo{
    position: absolute;
    top:5%;
    font-size: 50px;
    font-family: ClanPro;
}
#trapezio{
    position: absolute;
    top:8%;
    height: 3rem;
    width: 45%;
    background-color: var(--naranja_princip);
    clip-path: polygon(60px 0%, 100% 0%, calc(100% - 60px) 100%, 0% 100%);
}
.trama{
    position: absolute;
    top:11%;
    height: 3rem;
    width: 45%;
    background-image: radial-gradient(
    circle at center,
    var(--naranja_princip) 0.12rem,
    transparent 0
    );
    background-size: .5rem .5rem;
    background-repeat: round;
    clip-path: polygon(60px 0%, 100% 0%, calc(100% - 60px) 100%, 0% 100%);
}
#cont_terminos{
    position: absolute;
    top:20%;
}
#terminos{
    margin-bottom: 10%;
    font-family: Circular std;
}
.lista_a{
    list-style: lower-alpha;
}
ol {
    counter-reset: item; /* reset para que no se repitan los números*/
}
ol li /*dan la indentación a cada elemento de lista, según su nivel*/
{
    display: block;
    text-indent: -2em; 
    margin-left: 3em;
}
ol li::before{
    /*contador(número .) y agregar el punto final y un espacio entre el num y el texto*/
    content: counters(item, ".") ". ";counter-increment: item /*incrementar en base al num anterior*/
}

.btn_azul{
    position: fixed;
    bottom: 4rem;
    left: 0;
    text-decoration: none;
    font-size: 35px;
	margin: .5rem;
	padding:.2rem 1.2rem;
    border-radius: 20px;
    color: var(--azul_claro);
	border: 7px solid var(--azul_medio);
	background-color: var(--azul_princip);
	font-family: Genos Bold;
}
.btn_azul:hover{
    color: var(--azul_princip);
	border: 7px solid var(--azul_claro);
	background-color: var(--azul_medio);
}

/*footer*/
footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--azul_osc);
}

footer > p{
    color:var(--offwhite);
    flex: 1 0 auto;
}
footer > a{
    color:var(--offwhite);
    flex: 1 0 auto;
}
footer > a:hover{
    color:var(--naranja_princip);
}
#mini_iaev_cont{
    display: flex;
    align-items: flex-end; 
    justify-content: center;
}
#mini_iaev{
    position: fixed;
    bottom: 1rem;
    right: 0;
    width: 13rem;
    height: 13rem;
}

@font-face {
	font-family: 'Geologica';
	src: url('../fuentes/Geologica-Black.ttf');
}
@font-face {
	font-family: 'Genos Bold';
	src: url('../fuentes/Genos-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'ClanPro';
    src: url('../fuentes/clanpro-4.ttf');
}
@font-face {
    font-family: 'Circular std';
    src: url('../fuentes/circular-std-medium-500.ttf');
}