:root {
    --rojo_princip: #FF3D33;
    --rojo_medio: #FFB1AD;
    --rojo_btn: #FF7770;
    --rojo_claro: #FFD8D6;
    --azul_princip: #1140CC;
    --azul_medio: #9FB2EA;
    --azul_claro: #CFD8F4;
    --verde_princip: #CCF92B;
    --verde_dropdown: #EAFCAA;
    --verde_osc: #8EAE1E;
    --verde_mosc: #667C15;
    --naranja_princip: #F8B615;
    --naranja_medio: #FAD372;
    --naranja_claro: #FDF0D0;
    --azul_osc: #0F1E47;
    --offwhite: #FFFFEF;
    --shadow: rgba(15, 30, 71, 0.3);
    --nav_gris: #909084;
    --gris_cuadro: #F2F2DA;
    --gris_osc: #B9B9B5;
    --trama: radial-gradient(circle, var(--naranja_princip) 20%, transparent 25%);
    --tooltip_b: rgba(15, 30, 71, 0.75);
    --tooltip_w: rgba(255, 255, 255, 0.75);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Geologica;
    background-color: var(--offwhite);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, rgba(255, 255, 239, 1) 0%, rgba(255, 255, 221, 1) 77%, rgba(255, 255, 182, 1) 100%);
}

/*navegador*/
header {
    background-color: var(--azul_osc);
    margin: auto;
}

nav {
    display: flex;
    align-items: end;
    padding: 1.5rem 0 0 0;
}

nav a {
    text-decoration: none;
    font-family: Genos Bold;
    font-size: 48px;
}

nav div {
    padding: .5rem 2rem 0 2rem;
}

.nav_pest {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 0 50px 5px 50px;
    clip-path: polygon(30px 0%, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
    /*forma de trapezio*/
    margin-right: -60px;

}

/*pestañas de navegador*/
.icon_nav {
    padding-top: .2rem;
    width: 45px;
    height: 45px;
}

#pest_ini {
    display: inline;
    background-color: var(--offwhite);
    z-index: 3;
}

#pest_ini a {
    color: var(--nav_gris);
}

#pest_perf {
    background-color: var(--azul_princip);
    display: inline;
    z-index: 3;
    /*filter: drop-shadow(18px 0px 20px var(--shadow));*/
}

#pest_perf a {
    color: var(--azul_medio);
}

#pest_perf:hover {
    z-index: 10;
}

#pest_perf a:hover {
    color: var(--azul_claro);
}


#pest_calif {
    background-color: var(--verde_princip);
    display: inline;
    z-index: 4;
}

#pest_calif a {
    color: var(--verde_osc);
}

#pest_calif:hover {
    z-index: 10;
}

#pest_calif a:hover {
    color: var(--verde_mosc);
}


#pest_fecha {
    background-color: var(--rojo_princip);
    display: inline;
    z-index: 1;
}

#pest_fecha a {
    color: var(--rojo_medio);
}

#pest_fecha:hover {
    z-index: 10;
}

#pest_fecha a:hover {
    color: var(--rojo_claro);
}

/*section*/

#dentro {
    margin: 3rem;
}

#titulo {
    position: absolute;
    top: 21%;
    font-size: 50px;
    font-family: ClanPro;
}

#trapezio {
    position: absolute;
    top: 24%;
    height: 3rem;
    width: 36%;
    background-color: var(--naranja_princip);
    clip-path: polygon(60px 0%, 100% 0%, calc(100% - 60px) 100%, 0% 100%);
}

.trama {
    position: absolute;
    top: 27%;
    height: 3rem;
    width: 36%;
    background-image: radial-gradient(circle at center,
            var(--naranja_princip) 0.12rem,
            transparent 0);
    background-size: .5rem .5rem;
    background-repeat: round;
    clip-path: polygon(60px 0%, 100% 0%, calc(100% - 60px) 100%, 0% 100%);
}

#btn_logout {
    position: fixed;
    right: 2%;
    top: 1%;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100px;
    padding: .5rem;
    border: 6px solid var(--naranja_medio);
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--naranja_princip);
    background-image: url(/general/imagen/icon/logout.png);
}

#btn_logout:hover {
    border: 6px solid var(--naranja_medio);
    background-color: var(--naranja_claro);
    background-image: url(/general/imagen/icon/logout_n.png);
}
/*contenido después de éste punto*/


.seccion-rubrica { /* Estilos para la sección de la rúbrica */
    margin-top: 18rem; /* Separa el bloque para que no se encime con el título */
    font-family: 'Circular std', Arial, sans-serif;
}

.titulo-rubrica {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    margin-bottom: 15px;
}

.lista-evaluacion {
    list-style-type: disc;
    padding-left: 25px;
    margin: 0;
}

.lista-evaluacion li {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 12px;
}

.caja-nota {
    width: 80px;
    height: 38px;
    font-family: Circular Std;
    background-color: var(--gris_cuadro);
    border: 2px solid var(--gris_osc);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    outline: none;
    margin: 0 4px;
}

/* Estilos para la Calificación Total */
.seccion-total { 
    position: absolute;
    top: 18rem;       /* Alínealo a la misma altura que la rúbrica */
    right: 4rem;      /* Lo pone hacia el extremo derecho de la pantalla */
    display: flex;
    align-items: center;
    gap: 15px;        /* Espacio entre el texto y la caja */
}

.texto-total {
    font-size: 45px;  /* Mismo tamaño que elegiste para tu lista */
    font-weight: bold;
    font-style: italic;
    color: #000000;
}

.caja-total {
    width: 170px;
    height: 35px;
    font-family: Circular Std;
    background-color: var(--gris_cuadro);
    border: 2px solid var(--gris_osc);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    outline: none;
}

/* Estilos de la Retroalimentacion */
.seccion-retroalimentacion {
    margin-top: 3rem; /* Separa este bloque hacia abajo de la rúbrica */
    font-family: 'Circular std', Arial, sans-serif;
    width: 60%;       /* Ocupa un buen ancho de la pantalla sin encimarse en tu personaje */
}

.titulo-retro {
    font-size: 25px;  /* Mismo tamaño que tu rúbrica y total */
    font-weight: bold;
    font-style: italic;
    color: #000000;
    margin-bottom: 15px;
}

.caja-retro {
    width: 100%;
    height: 20rem;    /* Altura del cuadro grande */
    font-family: Circular Std;
    background-color: var(--gris_cuadro);
    border: 2px solid var(--gris_osc);
    border-radius: 15px;
    font-size: 22px;
    padding: 15px;
    box-sizing: border-box;
    resize: none;      /* Evita que el usuario estire el cuadro y rompa el diseño */

    outline: none;
}

/* Contenedor y estilos para los botones */
.seccion-botones {
    display: flex;
    gap: 20px;            /* Espacio exacto de separación entre ellos */
    margin-top: 35px;     /* Separación respecto al cuadro de texto superior */
    margin-bottom: 6rem;  /* Espacio libre abajo para que no los tape el footer */
}

/* Estilos base para ambos botones (Forma, tamaño y letra) */
.btn-volver, .btn-guardar {
    padding: 8px 40px;
    border: none;
    border-radius: 15px;             /* Bordes redondeados */
    font-family: 'Genos Bold', sans-serif; /* tipografía del menú */
    font-size: 32px;                 /* Tamaño */
    font-style: italic;              /* Inclinación cursiva */
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    display: inline-block;
    text-decoration: none;
}

/* Estilo para el botón Volver */
#btn_azul {
    display: inline;
    text-align: center;
    width: 12%;
    text-decoration: none;
    font-size: 35px;
    margin: 2.5rem .5rem 0 .5rem;
    padding: .2rem .7rem;
    border-radius: 20px;
    color: var(--azul_claro);
    border: 7px solid var(--azul_medio);
    background-color: var(--azul_princip);
    font-family: Genos Bold;
}

#btn_azul:hover {
    color: var(--azul_princip);
    border: 7px solid var(--azul_claro);
    background-color: var(--azul_medio);
}
#btn_guardar {
    display: inline;
    text-align: center;
    width: 12%;
    text-decoration: none;
    font-size: 35px;
    margin: 2.5rem .5rem 0 .5rem;
    padding: .2rem .7rem;
    border-radius: 20px;
    color: var(--azul_osc);
    border: 7px solid var(--rojo_princip);
    background-color: var(--rojo_btn);
    font-family: Genos Bold;
}

#btn_guardar:hover {
    color: var(--rojo_claro);
    border: 7px solid var(--rojo_btn);
    background-color: var(--rojo_princip);
}

/* Estilo para el botón Guardar */
.btn-guardar {
    background-color: var(--rojo_princip); /* rojo fuerte */
    color: var(--offwhite);                /* Texto claro */
}

.btn-guardar:hover {
    background-color: var(--rojo_medio);   /* Cambia al rojo medio al pasar el mouse */
    color: var(--azul_osc);                /* El texto se vuelve oscuro para su contraste */
}

/* El fondo oscuro transparente que bloquea la pantalla */
.modal-fondo {
    display: none; /* Por un momento se oculta para que no moleste, y luego la activaremos */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
    z-index: 1000; /* hace que se ponga por encima */
    justify-content: center;
    align-items: center;
}

/* El recuadro blanco del centro */
.modal-contenido {
    background-color: #ffffff;
    width: 480px;
    padding: 40px 30px;
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: 0px 8px 24px rgba(15, 30, 71, 0.3); /* Sombra suave */
    position: relative;
    text-align: center;
    animation: aparecerModal 0.3s ease;
}

/* El botón rojo con la tachita para cerrar */
.btn-cerrar-modal {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 35px;
    height: 35px;
    background-color: #ff4d4d; /* Fondo rojo de la tachita */
    color: #ffffff;
    border: 3px solid #ffffff; /* Borde blanco grueso */
    border-radius: 50%; /* Lo hace un círculo */
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* El texto amarillo con borde oscuro */
.texto-modal {
    font-family: 'Geologica', sans-serif; /* fuente */
    font-size: 36px;
    font-weight: bold;
    color: var(--naranja_princip); 
    margin: 0;
    /* Crea el efecto de contorno oscuro alrededor de las letras amarillas */
    text-shadow: 
        -2px -2px 0 var(--azul_osc),  
         2px -2px 0 var(--azul_osc),
        -2px  2px 0 var(--azul_osc),
         2px  2px 0 var(--azul_osc);
}

/*footer*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--azul_osc);
}

footer > p{
    color:var(--offwhite);
}
#mini_iaev_cont {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#burb_img {
    position: fixed;
    bottom: 1rem;
    right: 0;
    width: 13rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#burbuja {
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
    color: var(--tooltip_b);
    background-color: var(--tooltip_w);
    border: 3px solid var(--tooltip_b);
    border-radius: 15px;
    position: absolute;
    bottom: 100%;
    right: 10%;
    white-space: nowrap;
    font-size: 22px;
    padding: .2rem;
    padding-top: .7rem;

    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

#burbuja::after {
    content: '';
    position: absolute;
    bottom: -12px;
    right: 25px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #FFFFEF transparent;
    display: block;
    width: 0;
}

#burbuja::before {
    content: '';
    position: absolute;
    bottom: -14px;
    right: 22.5px;
    border-width: 12px 12px 0;
    border-style: solid;
    border-color: #0f1e47 transparent;
    display: block;
    width: 0;
}

#burb_img:hover #burbuja {
    visibility: visible;
    opacity: 1;
}

#mini_iaev {
    position: fixed;
    bottom: 1rem;
    right: 0;
    width: 13rem;
    height: 13rem;
}


@font-face {
    font-family: 'Geologica';
    src: url('/general/fuentes/Geologica-Black.ttf');
}

@font-face {
    font-family: 'Genos Bold';
    src: url('/general/fuentes/Genos-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'ClanPro';
    src: url('/general/fuentes/clanpro-4.ttf');
}

@font-face {
    font-family: 'Circular std';
    src: url('/general/fuentes/circular-std-medium-500.ttf');
}